<%= form_with model: project, url: (project.persisted? ? project_path(project) : projects_path), local: true do |f| %>
  <% if project.errors.any? %>
    <div class="flash flash-alert">
      <ul style="margin:0;padding-left:1rem;">
        <% project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "My Rails App" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", placeholder: "Optional description" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Cancel", projects_path, class: "btn btn-outline" %>
<% end %>
